.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.card__like-btn {
  height: 20px;
  width: 22.5px;
  background-image: url(../images/like_icon.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease;
}

.card__like-btn:hover {
  background-image: url("../images/like_hover-dark.svg");
  opacity: 100%;
}

.card__like-btn_active {
  background-image:url("../images/like_Active.svg");
  background-color: transparent;
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url("../images/liked_active_pink.svg");
  background-color: transparent;
  opacity: 0.6;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin: 0;
}

.card__delete-btn{
  height: 32px;
  width: 32px;
  border:none;
  background-image: url("../images/delete_active.svg");
  position: absolute;
  right:10px;
  top:10px;
  background-color: transparent;
}

.card__delete-btn:hover {
  background-image: url("../images/delete_active_hover.png");


}

.card__delete-btn_active:hover {
  background-image: url("../images/delete_active_hover.svg");
  background-color: transparent;
  height:20px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
  font-size: 16px;
}

}
