/*TO DOS ADD CORRECT FONT STYLES FOR EVERYTHING*/

/* TO DOS : RESPONSIVE DESIGN */
.modal {
  visibility: hidden;
  background-color: #000000b2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding: 0 10px;
}
.modal__caption {
  margin-top: 5px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: inline-block;
  font-weight: 500;
  color: #ffffff;
  border-radius: 8px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  background-color: #212121;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
  max-width: 90vw;
  max-height: 80vh;
  box-sizing: border-box;
}

.modal__close_type_preview {
  position: absolute;
  top: 6px;
  right: -90.5px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 32px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
}

.modal__close-btn {
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -5px;
  right: -50px;
  height: 40px;
  width: 40px;
  background-image: url(../images/dark_close_icon.svg);
  border-style: none;
  background-color: transparent;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  padding: 16px 12px;
  box-sizing: border-box;
  /* TO DOS ADD BORDER STYLES AND PADDING*/
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-btn {
  width: 156px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fff;
}

.modal__save-btn:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 400px) {
  .modal__caption {
    max-width: 100%;
    top: 30px;
    padding: 5px 5px;
  }

  .modal__close-btn {
    top: 58px;
    right: 50px;
    background-image: url(../images/close_image-preview.svg);
  }
}

@media screen and (max-width: 780px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__close-btn {
    top: 5px;
    right: -40px;
  }

  .modal__save-btn {
    width: 100%;
  }
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  width: 100%;
  display: block;
  border-radius: 8px;
}
